SLACK_BOT_TOKEN=xoxb-xxxxxxxx
SLACK_SIGNING_SECRET=xxxxxxxx


# Google API
GOOGLE_CLIENT_ID=xxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxx
GOOGLE_REDIRECT_URI=http://localhost:8000/oauth2callback
GOOGLE_CALENDAR_ID=primary


# OpenAI
OPENAI_API_KEY=sk-xxxxxxxx


# General
APP_ENV=development
PORT=8000
